body{
    font-family: arial, sans-serif;
    background-color: #f7f7f7;
}

h1{
    text-align: center;
    margin-top: 50px;
    color: #333;
}
input[type="text"]{
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 00 5px black;
    cursor:pointer;
}
